.addNewBtn {
    float: left;
    margin-bottom: 20px;
    padding: 10px;
    border:none;
    outline: none;
    border-radius: 5px;
    background-color: #79CDCD;
    color: white;
    width: 200px;
    cursor: pointer;
}

.addNewBtn:focus {
    border:none;
    outline: none;
}

.addNewTxt {
    outline: none;
    border: none;
}

.addNewTxt:focus {
    outline: none;
    border: none;
}